# ignore git
.git/

# Python cache files
__pycache__/
.pytest_cache/

# Environment variables - contains sensitive secrets
.env

# Local or environment-specific configuration
# config.yaml

# Venv folders
.venv/
venv/

# other
tests/
data/
logs/
tests/
projects/
sandboxes/
security/
.task/